<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pi2013.myapplication" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.pi2013.myapplication.GlobalVariable"
        android:allowBackup="true"
        android:configChanges="locale"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo_client"
        android:icon="@drawable/ic_icon_client"
        android:theme="@style/StyleNomosphere"
         >

        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pi2013.myapplication.MyActivity" />
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".LaunchActivity"
            android:label="@string/title_activity_launch"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".UserAgreementActivity"
            android:label="@string/title_activity_user_agreement"
            android:launchMode="singleInstance" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.pi2013.myapplication.SettingsActivity" />

        </activity>



    </application>

</manifest>
