<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pi2013.myapplication" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <application
        android:name="com.example.pi2013.myapplication.GlobalVariable"
        android:allowBackup="true"
        android:configChanges="locale"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo_client"
        android:icon="@drawable/ic_logo_client"
        android:theme="@style/StyleNomosphere"
        android:uiOptions="splitActionBarWhenNarrow" >

        <activity
            android:name=".MyActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".LaunchActivity"
            android:label="@string/title_activity_launch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountManagementActivity"
            android:label="@string/title_activity_account_management"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:launchMode="singleInstance" >
        </activity>
        <activity
            android:name=".UserAgreementActivity"
            android:label="@string/title_activity_user_agreement"
            android:launchMode="singleInstance" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.pi2013.myapplication.SettingsActivity" />

        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:launchMode="singleInstance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pi2013.myapplication.SettingsActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:launchMode="singleInstance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pi2013.myapplication.MyActivity" />
        </activity>
        <activity
            android:name=".LostAccountActivity"
            android:label="@string/title_activity_lost_account"
            android:launchMode="singleInstance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pi2013.myapplication.MyActivity" />
        </activity>

    </application>

</manifest>
